/* Gerais */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

body{
   font-family: 'Roboto' sans-serif;
}
.row{
    margin: 0;
}
.container{
    padding: 70px 0;
}
p, li{
    color: gray;
    font-size: 14px;
}

/* Barra de navegação*/
header, .navbar{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(36,123,160,1) 50%, rgba(19,41,61,1) 100%);
    padding: 0;
}
#nav-container{
    padding-top: 0px;
    padding-bottom: 0px;
}
#logo{
    width: 100px;
    margin-left: 40px;
    padding-top: 5px;
    transition: all .5s ease-in-out;
}
#logo:hover{
    transform: scale(1.1);
}
.navbar-brand{
    padding: 0;
    color: aliceblue;
}
.navbar-brand:hover{
    color: rgba(240, 248, 255, 0.788);
}
#navbar-links a{
    color: aliceblue;
    text-decoration: none;
}
.navbar-nav{
    margin-right: 40px;
}
#navbar-links a:hover{
    color: rgb(3, 174, 174);
    cursor: pointer;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/* slider */

.container-fluid{
    padding: 0;
}
#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 100vh;
}
#mainSlider .carousel-caption{
    top: 40%;
}
#mainSlider .carousel-caption h2{
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.29);
}
#mainSlider .carousel-caption p{
    font-size: 22px;
    margin-bottom: 50px;
    font-weight: 400;
    color: aliceblue;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.295);
}
.main-btn{
    color: aliceblue;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #247ba0;
    transition: .5s;
    font-weight: bold;
    background-color: #247ba0;
}
.main-btn:hover{
    text-decoration: none;
    border: 1px solid transparent;
    color: aliceblue;
    border-color: black;
}
.carousel-indicators .active{
    background-color:#247ba0;
    margin-bottom: 30px;
}
#whatsapp2{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 58px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

#whatsapp2 i{
    margin-top: 14px;
    color: aliceblue;
    border-color: 2px solid aliceblue;
}

#whatsapp2:hover{
    transform: scale(1.1);
}

/* sobre a empresa */
#about-area{
    background-color: aliceblue;
}
#about-area img{
    height: 70vh;
    margin-left: 80px;
    border-radius: 10%;
    transition: all .5s ease-in-out;
}
#about-area img:hover{
transform: scale(1.1);
}
.main-title{
    color: #247ba0;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}
.main-title::after{
    content: "";
    border-top: 2px solid #247ba0;
    position: absolute;
    top: 60px;
    left: 42.5%;
    width: 15%;
}
.about-title{
    font-size: 17px;
    color: #247ba0;
    text-transform: uppercase;
    font-weight: bold;
}
#about-list{
    list-style: none;
    padding-left: 0;
}
#about-list li{
    line-height: 30px;
}
#about-list i{
    color: #247ba0;
    margin-right: 15px;
}
/* serviços */
.service-box{
    text-align: center;
    margin-bottom: 50px;
}
.service-box i, .service-box h4{
    transition: all .5s ease-in-out; 
} 
.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color:#353d41;
}
.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}
.service-box:hover > i, .service-box:hover > h4{
    color: #247ba0;
    transform: scale(1.1);
}

/* dados */
.circle-box div{
    padding: 0 40px
}
.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}
#data-area p{
    color: aliceblue;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* experiências anteriores */
.card-body{
    text-align: center;
    color: #247ba0;
}
.card img{
    transition: all .4s ease-in-out;
}
.card img:hover{
    transform: scale(.9);
}

/* citação */

/*portfolio*/

.project-box{
    margin-bottom: 30px;
}
#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
}
#portfolio-area .filter-btn{
    color: #353d41;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 50px;
    line-height: 30px;
    padding: 0 20px;
}
#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover{
    color: aliceblue;
    background-color: #247ba0;
    border-color: #247ba0;
}
#portfolio-area img{
    width: 300px;
    height: 200px;
    margin: 5px;
    transition: all .5s ease-in-out;
}
#portfolio-area img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* news letter */

#news-area{
    text-align: center;
    background-color: aliceblue;
}
#news-area p{
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #247ba0;
    display: inline;
    box-sizing: border-box;
    max-width: 40%;
    height: 40px;
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #247ba0;
    background-color: #247ba0;
    text-transform: uppercase;
    color: aliceblue;
    height: 40px;
    padding: 0 30px;
    margin-left: -80px;
    position: absolute;
    transition: all .5s ease-in-out;
}

#news-btn:hover{
    background-color: aliceblue;
    color: #247ba0;
}

/* call action */

#call-area{
    background-color: #247ba0;
    text-transform: uppercase;
}
#call-area .row{
    display: block;
    text-align: center;
}

#call-area p{
    font-weight: bold;
    color: aliceblue;
    margin-left: 30px;
    font-size: 20px;
    width: auto;
    letter-spacing: 2px;
    margin-bottom: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
}

#call-area #call-btn{
    background-color: aliceblue;
    color: #247ba0;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    width: auto;
    letter-spacing: 2px;
    max-width: 20%;
}
#call-area .container{
    padding: 40px 100px;
}

/*footer */

#contact-area{
    text-align: center;
}
.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #247ba0;
}

.contact-box i{
    color: #353d41;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
    transition: all .5s ease-in-out;
}
.contact-box i:hover{
    color: #247ba0;
    transform: scale(1.1);
    border-color: #247ba0;
}
.contact-box p{
    font-size: 16px;
}

.contact-title{
    font-weight: bold;
    color: #247ba0;
}
#msg-box p{
    font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea{
    margin-bottom: 15px;
    border-radius: 0;
}
#contact-form .main-btn{
    width: 150px;
    height: 50px;
}
#contact-form .main-btn:hover{
    color: aliceblue;
}

#copy-area{
    background-color: aliceblue;
}
#copy-area .container{
    padding: 10px 0;
    text-align: center;
}
#copy-area .container p{
    margin-bottom: 0;
}
#copy-area .container a{
    font-weight: bold;
    color: #353d41
}
#copy-area .container a:hover{
    color: #247ba0;
    text-decoration: none;
}

/* responsive */

@media(max-width: 769px){
    /* geral */
    .container{
        padding: 20px 0;
    }
    nav{
        text-align: center;
    }
    .navbar-nav{
        margin-right: 10%;
    }
    .navbar-toggler{
        padding-right: 40px;
        border: none;
    }
     /* slider */
    #mainSlider .carousel-inner, #mainSlider .carousel-item{
        height: auto;
    }
    #mainSlider .carousel-caption h2{
        font-size: 28px;
    }
    #mainSlider .carousel-caption p{
        font-size: 18px;
        margin-bottom: 40px;
    }
    .carousel-caption{
        left: 10%;
        right: 10%;
    }
    /* about area*/
    #about-area p{
        text-align: justify;
    }
    #about-area img{
        margin: 0;
        height: auto;
        border-radius: 0;
    }
    #about-area img:hover{
        transform: none;
    }
    #about-list li{
        padding-top: 10px;
        font-size: 14px;
        text-align: justify;
        line-height: 20px;
    }
    #about-area i{
        margin: 8px;
    }
    /* data*/
    .circle-box div{
        padding: 0 10px;
    }
    #data-area p{
        font-size: 16px;
    }
    /*team*/
    .card-title{
        font-size: 14px;
        height: 3vh;
    }
    .card-text{
        font-size: 12px;
    }
    /* apply*/
    #apply-area .apply-box{
        padding: 50px 25px;
    }
    #apply-area #company-img{
        background-position: 80%;
    }
      /* portfolio*/
    #portfolio-area img{
        height: auto;
    }
    /* portfolio*/
    #news-area p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #email-input{
        width: 70%;
    }
    #call-area{
        margin-top: 30px;
    }
    #call-area .container{
        padding: 30px;
    }
    #call-area p, #call-area #call-btn{
        font-size: 16px;
    }
}
@media(max-width: 900px){
    /* geral */
    .container{
        padding: 20px 0;
    }
    .navbar-nav a{
        text-align: center;
        margin-left: 10%;
    }
    .navbar-toggler{
        padding-right: 40px;
        border: none;
    }
     /* slider */
    #mainSlider .carousel-inner, #mainSlider .carousel-item{
        height: auto;
    }
    #mainSlider .carousel-caption h2{
        font-size: 28px;
    }
    #mainSlider .carousel-caption p{
        font-size: 18px;
        margin-bottom: 40px;
    }
    .carousel-caption{
        left: 10%;
        right: 10%;
    }
    /* about area*/
    #about-area p{
        text-align: justify;
    }
    #about-area img{
        margin: 0;
        height: auto;
        border-radius: 0;
    }
    #about-area img:hover{
        transform: none;
    }
    #about-list li{
        padding-top: 10px;
        font-size: 14px;
        text-align: justify;
        line-height: 20px;
    }
    #about-area i{
        margin: 8px;
    }
    /* data*/
    .circle-box div{
        padding: 0 10px;
    }
    #data-area p{
        font-size: 16px;
    }
    /*team*/
    .card-title{
        font-size: 14px;
        height: 3vh;
    }
    .card-text{
        font-size: 12px;
    }
    /* apply*/
    #apply-area .apply-box{
        padding: 50px 25px;
    }
    #apply-area #company-img{
        background-position: 80%;
    }
      /* portfolio*/
    #portfolio-area img{
        height: auto;
    }
    /* portfolio*/
    #news-area p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #email-input{
        width: 70%;
    }
    #call-area{
        margin-top: 30px;
    }
    #call-area .container{
        padding: 30px;
    }
    #call-area p, #call-area #call-btn{
        font-size: 16px;
    }
}
@media(max-width: 429px){
    /*slider*/
    .navbar-nav{
        margin-left: -40px;
    }
    .navbar-toggler{
        padding-right: 40px;
        border: none;
    }
    #mainSlider{
        margin-top: 90px;
    }
    #mainSlider .carousel-caption{
        top: 20%;
    }
    #mainSlider .carousel-caption h2{
        font-size: 18px;
        margin-bottom: 40px;
    }
    #mainSlider .carousel-caption p{
        display: none;
    }
    .carousel-caption .main-btn{
        font-size: 14px;
    }
    /* about*/
    .main-title{
        font-size: 30px;
    }
    #about-area img{
        margin-top: 0;
        margin-bottom: 30px;
    }
    #about-area{
        text-align: justify;
        margin: 0;
    }
    #about-area #about-list{
        text-align: justify;
    }
    /*data*/
    .circle-box{
        width: 50%;
    }
    /*team*/
    #team-area .col-md-3{
        width: 50%;
        margin-bottom: 30px;
    }
    /*apply*/
    #apply-area{
        height: auto;
        margin-bottom: 10%;
    }
    #company-img{
        display: none;
    }
    /*filter*/
    #portfolio-area .filter-btn{
        margin-bottom: 10px;
    }
    .project-box{
        width: 50%;
        margin-left: -3px;
        padding: 0px 10px;
    }
    /*contact*/
    #contact-area .main-title{
        margin-top: 10px;
    }
    .contact-box{
        border: none;
        margin-bottom: 0;
    }
    #copy-area{
        margin-top: 5%;
    }
}
@media(max-width: 428px){
    /* geral */
    .main-title{
        font-size: 26px;
    }
    .navbar-nav a{
        margin-left: 25%;
    }
    .navbar-toggler{
        padding-right: 40px;
        border: none;
    }
       /*filter*/
    #portfolio-area .filter-btn{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .project-box{
        width: 50%;
        margin-left: -3px;
        padding: 0px 10px;
    }
    /* news */
    #news-area .main-title{
        font-size: 26px;
    }
    #news-area p{
        font-size: 16px;
    }
    #email-input{
        max-width: 100%;
        margin-left: -20%;
    }
    #call-area p, #call-area{
        font-size: 14px;
        letter-spacing: 0;
        margin: 0;
        line-height: 25px;
    }
    #call-area{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    #call-btn{
        margin-top: 10px;
        padding-right: 35%;
        padding-left: 20%;
    }
    /*contact*/
    #contact-area .main-title{
        margin-top: 10px;
    }
    .contact-box{
        border: none;
        margin-bottom: 0;
    }
    #copy-area{
        margin-top: 5%;
    }
}
@media(max-width: 360px){
    /* geral */
    .main-title{
        font-size: 26px;
    }
    .navbar-nav a{
        margin-left: 25%;
    }
    .carousel-indicators{
        margin-bottom: -10px;
    }
       /*filter*/
    #portfolio-area .filter-btn{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .project-box{
        width: 50%;
        margin-left: -3px;
        padding: 0px 10px;
    }
    #apply-area p{
        font-size: 15px;
        margin-left: 50%;
    }    
    /* news */
    #news-area .main-title{
        font-size: 26px;
    }
    #news-area p{
        font-size: 16px;
    }
    #email-input{
        max-width: 100%;
        margin-left: -25%;
    }
    #call-area p, #call-area{
        font-size: 14px;
        letter-spacing: 0;
        margin: 0;
        line-height: 25px;
        margin-top: 5%;
    }
    #call-btn{
        margin-top: 10px;
        padding-left: 40px;
        margin-right: 20px;
    }
    /*contact*/
    #contact-area .main-title{
        margin-top: 10px;
    }
    .contact-box{
        border: none;
        margin-bottom: 0;
    }
    #copy-area{
        margin-top: 5%;
    }
}
